/* ---------------------------
clearfix and base styles
--------------------------- */
* {
    box-sizing: border-box;
}

/* clear fix hack */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/* base styles */
body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    display: relative;
}

html {
    font-size: 62.5%;
    margin: 0;
    scroll-behavior: smooth;
}

/* ---------------------------
general layout
--------------------------- */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    background: #f2f0eb;
    color: #262522;
}

a {
    color: #403E3B;
    text-decoration: none;

}

span {
    font-weight: bold;
    font-size: 1.2em;
}


/* header layout */
header {
    width: 100%;
    height: 60px;
}

header > a,
header nav {
    float: left;
}

header > a {
    display: inline-block;
    padding-left: 10%;
}

header nav {
    float: right;
    display: flex;
    justify-content: flex-end;
    width: 80%;
    padding-right: 10%;
    padding-top: 20px;
}

header li {
    list-style: none;
    margin-bottom: 2rem;
    margin: 0 30px;
    padding-bottom: 5px;
    font-size: 1.6rem;
}

/* main section layout */
main {
    width: 80%;
    margin: 0 10%;
    margin-top: 50px;
    /* border: 1px black solid; */
    height: 800px;
}

.left {
    float:left;
    width: 50%;
    text-align: center;
}

.right {
    margin-top: 9%;
    margin-bottom: 40px;
    margin-right: 8%;
    font-size: 2.4rem;
    letter-spacing: 3px;
    line-height: 1.4em;
    position: relative;
}

.right p {
    margin-bottom: 45px;
}

.contact  {
    position: absolute;
    left: 54.5%;
    top: 125%;
}

/* content sections styles */
.bottom {
    width: 80%;
}

.content {
    border-top: 1px #8c7d61 solid;
    height: 500px;
    width: 100%;
    padding: 5% 5%;
    /* padding-left: 80px; */
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    scroll-behavior: smooth;
}

.content > div {
    position: relative;
    /* border: 1px #837e79 solid; */
    /* flex: 1; */
    width: 20%;
    height: 100%;
    /* margin-right: 30px; */
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.content > div:last-child {
    /* margin: 0 auto; */
    width: 65%;
}

.services > div:last-child,
.misc > div:last-child {
    float: left;
    /* border: 1px black solid; */
    display: flex;
    width: 65%;
    justify-content: space-between;
}

.one-third-left,
.one-third-middle,
.one-third-right {
    flex: 1;
    height: 100%;
    margin-right: 8px;
    /* border: 1px black solid; */
}

.one-third-middle {
    margin-left: 8px;
    margin-right: 8px;
}

.one-third-right {
    margin-left: 8px;
    margin-right: 0;
}

.two-third-right {
    margin-left: 8px;
    width: 66.3%;
    /* border: 1px black solid; */
}

/* ---------------------------
animations
--------------------------- */
/* hover underline animation */
.hover-underline-animation {
    display: inline-block;
    position: relative;
}
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f2e6d0;
    transform-origin: bottom right;
    transition: transform 0.75s ease-out;
}

.brown:after {
    background-color: #403E3B;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* carousel animation */
.carousel {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 48%;
    height: 100%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.carousel .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 20vw;
    height: 100%;
  /*   border-radius: 50%; */
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
}

.item img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    /* height: 100%; */
    object-fit: cover;
    object-position: top;
}
  
.item.active {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}
  
.item.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-125%, -50%);
}
  
.item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, -50%);
}
  
.content .button-container {
    /* border: 1px black solid; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 62%;
}
  
.button-container .button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
}
  
.button-container .button:hover {
    opacity: 1;
}
  
.button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    z-index: -99;
}
  
.button-container .button:nth-child(1) {
    position: absolute;
    left: 10%;
}
  
.button-container .button:nth-child(2) {
    position: absolute;
    right: 10%;
}

/* ---------------------------
additional styles
--------------------------- */
/* header styles */
h3 {
    font-size: 2.4rem;
    padding-top: 15px;
    /* visibility should be visible unless it's home page */
    visibility: hidden;
}

/* profile pic style */
.profile {
    margin-top: 10%;
    position: relative;
    border-radius: 100%;
    position: relative;
}

.profile div {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

/* intro style */
h1 {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 5px;
    margin-top: 1em;
    margin-bottom: 20px;
}

.name p {
    font-size: 1.6rem;
    letter-spacing: 2px;
    line-height: 2.5rem;
    padding: 0 40px;
    margin: 0 auto;
    margin-bottom: 40px;
    color: #262522;
    transform: scaleY(1.1);
    width: 80%;
}

/* .name p:last-child {
    padding-top: 0;
    padding-bottom: 20px;
    border: 0;
} */

/* social section style */
.social {
    margin-bottom: 40px;
}

.social a,
.contact a {
    display: inline-block;
}

.social img {
    display: inline-block;
    width: 25px;
    margin: 0 20px;
}

.contact img {
    width: 25px;
    vertical-align:middle;
}

.content li {
    font-size: 1.6rem;
    color: #403E3B;
    margin-bottom: 15px;
}

.contact a {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 15px 20px;
    border: 1px #403E3B solid;
}

.contact a:hover {
    background: #403E3B;
    color: #f2f0eb;
    border-radius: 10px;
    transition-duration: 0.75s
}

/* main section styles */
h2 {
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 3px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    color: #403E3B;
}

/* service section styles */
.container h2 {
    display: none;
}

/* contact form css  */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #403E3B;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

label,
input,
textarea {
    font-size: 1.2rem;
}
  
input[type=submit] {
    background-color: #403E3B;
    color: #f2f0eb;
    letter-spacing: 2px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #74706c;
    color: #f2f0eb;
}

.half {
    float: left;
    width: 48%;
}

.half:nth-child(even) {
    float: right;
}

.content textarea {
    max-height: 200px;
}

/* misc section styles */
.misc p {
    font-size: 1.4rem;
    line-height: 1.5em;
}
.misc img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.misc img:hover {
    filter: brightness(60%);
}

/* footer styles */
footer {
    width: 80%;
    margin: 0 auto;
    border-top: 1px #403E3B solid;
}

footer p {
    font-size: 1.2rem;
    color: #403E3B;
    padding-top: 10px;
    margin-bottom: 50px;
    padding-right: 5%;
    float: right;
}

@media all and (max-width:1200px) {
    header,
    main,
    .bottom,
    footer { 
        width: 90%;
    }
    header nav {
        padding-right: 0;
    }
    main {
        margin-left: 0;
        margin-right: 0;
    }
    .content {
        height: 400px;
    }
    .content textarea {
        max-height: 140px;
    }
    .containter {
        height: 80%;
    }
}

@media all and (max-width:1000px) {
    header nav {
        justify-content: space-around;
        margin: 0 auto;
        width: 100%;
    }
    header li {
        margin: 20px;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
        margin-bottom: 50px;
        clear: both;
    }
    .profile {
        margin-top: 10px;
    }
    main {
        height: 1000px;
        text-align: center;
    }
    .right p {
        padding-top: 10px;
        padding-bottom: 50px;
    }
    .contact {
        position: relative;
        left: 0;
        top: 0;
    }
    .content {
        height: 300px;
    }
    .work div {
        float: left;
        width: 100%;
        text-align: center;
    }
    .work > div:first-child {
        display: none;
    }
    .work > div:last-child {
        width: 100%;
    }
    .carousel {
        left: 50%;
    }
    .carousel .item {
        max-width: 40%;
    }
    .button-container .button:nth-child(1) {
        left: -45%;
    }
    .button-container .button:nth-child(2) {
        right: -45%;
    }
    .services {
        height: 800px;
        display: block;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .services > div {
        float: left;
        width: 50%;
        height: 300px;
        text-align: center;
    }
    .services > div:last-child {
        display: block;
        width: 50%;
    }
    .one-third-left,
    .two-third-right {
        float: left;
        width: 100%;
        margin: 0 auto;
    }
    .container h2 {
        display: block;
    }
    .container {
        width: 200%;
        transform: translate(-50%, 0);
    }
    .content textarea {
        max-height: 160px;
    }
    .misc {
        height: 1000px;
        display: block;
    }
    .misc > div:first-child {
        display: none;
    }
    .misc > div:last-child {
        display: block;
        width: 100%;
    }
    .misc-pic div {
        float: left;
        width: 100%;
        height: 28%;
        margin: 30px auto;
    }
    .misc img {
        object-position: 0 10%;
    }
} 
